/BloomFilter.class
/Cliente.class
/ClienteSet.class
/Compras.class
/ComprasSet.class
/Date.class
/FileRdWr.class
/Jaccard.class
/Loja.class
/LojaInterface.class
/MinHash.class
/Supermercado.class
/Test.class
